{{ $page := .Page.Resources }}
{{ $pessoas := .Site.Data.ex_tutores.exTutores }}

{{ $pessoas = sort $pessoas "nome" }}

<div class="grid-cols-2 grid md:grid-cols-3 justify-items-center mb-4">
  {{ range $index, $pessoa := $pessoas }}
    <div
      class="
    mx-3 my-2 flex flex-col rounded-lg bg-neutral-50 text-surface shadow-secondary-1 shadow-2xl
    dark:bg-surface-dark dark:text-white dark:bg-neutral-800
    sm:shrink-0 sm:grow sm:basis-0"
    >
      <div class="p-4 my-auto">
        <h5 class="text-xl font-medium leading-tight text-center">
          {{ $pessoa.nome }}
        </h5>
      </div>
    </div>
  {{ end }}
</div>
