{{ $page := .Page.Resources }}
{{ $content := .Site.Data.tutor.tutor }}

{{ $image := (partial "functions/get-resource.html" $content.imagem) }}

<div
  class="
    flex flex-col rounded-lg bg-neutral-50 text-surface shadow-secondary-1 shadow-xl md:w-3/4 mx-auto
    dark:bg-surface-dark dark:text-white dark:bg-neutral-800
    md:flex-row">
  {{ if $image }}<img
  class="
    w-full rounded-t-lg object-cover not-prose nozoom
    md:h-fill md:w-56 md:!rounded-none md:!rounded-s-lg"
  src="{{ $image }}"
  {{ if $content.alt }} alt="{{ $content.alt }}" {{ else }} alt="Foto {{ $content.titulo }}" {{ end }} />
  {{ end }}
  <div class="flex flex-col justify-start p-6">
    <h5 class="mb-2 text-xl font-medium">{{ $content.nome }}</h5>
    <p class="mb-0 text-base text-justify">{{ $content.descricao }}</p>
    {{ if (or $content.orcid $content.lattes) }}<div class="text-xs text-surface/75 dark:text-neutral-300 flex space-x-2">
      {{ if $content.lattes }}<p class="mb-0">Lattes iD: <a href="http://lattes.cnpq.br/{{ $content.lattes }}" target="_blank">{{ $content.lattes }}</a></p>{{ end }}
      {{ if $content.orcid }}<p class="mb-0">Orcid iD: <a href="https://orcid.org/{{ $content.orcid }}" target="_blank">{{ $content.orcid }}</a></p>{{ end }}
    </div>{{ end }}
  </div>
</div>